.home{
    position: absolute;
    min-height: 120vh;
    height: max-content;
    width: 100%;
    background-image: linear-gradient(to right, #c59e8e, #84a8be);
    top: 0%;
}
.launch{
   position: relative;
   height: 100%;
   width: 100%;
   margin-bottom: 30px;
}
.myMarket{
    font-family: courgette;
    margin-left: 7%;
    margin-top: 2%;
    font-size: 9em;
    width: fit-content;
    background-image: linear-gradient(to left, #795344, #2e7099);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.pannel{
    display: grid;
    width: 80%;
    margin: 10%;
    margin-top: 5%;
    grid-template-columns: 30% 40% 30%;
    column-gap: 20px;
    row-gap: 30px;
}
.pannel-item{
    text-align: center;
    color: #c59e8e;
}
.one{
    background-color: #3d6270;
    height: 150px;
    

}
.two{
    background-color: #3d6270;
    height: 150px;
    margin-top: 50px;
    


}
.three{
    background-color: #3d6270;
    height: 150px;


}
.four{
    background-color: #3d6270;
    height: 150px;

}
.five{
    background-color: #3d6270;
    height: 150px;
    margin-bottom: 50px;
   
}
.six{
    background-color: #3d6270;
    height: 150xp;
    

}
.seven, .eight{
    background-color: #3d6270;
    height: 200px;
}
.eight{
    width: 200%;
    transform: translateX(-50%);
}
.vide{
    width: 0%;
}
.content{
    display: block;
    background-color: transparent;
    font-size: 2em;
}
.content img{
    display: block;
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
}

