@font-face { font-family: modern; src: url('fonts/Sk-Modernist-Regular.otf'); } 

.home{
    position: absolute;
    min-height: 120vh;
    height: max-content;
    width: 100%;
    background-image: linear-gradient(to right, #c59e8e, #84a8be);
    top: 0;
}
.launch{
   position: relative;
   display: flex;
   justify-items: center;
   align-items: center;
   flex-direction: column;
   height: 100%;
   width: 100%;
   margin-bottom: 30px;
}
.myMarket{
    font-family: modern;
    font-size: 7em;
    width: fit-content;
    background-image: linear-gradient(to left, #795344, #2e7099);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
form{
    height: 400px;
    width: 300px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

form h1{
    color: #795344;
    font-family: modern;
}

form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 20px 0;
    margin-top: 20%;
}
.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 24px;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
    color: #2e7099;
    background-color: transparent;

}
.txt_field input:-webkit-autofill{
    /* background transparent avec autofill */
    -webkit-background-clip: text;

}
.txt_field textarea{
    width: 100%;
    padding: 0 5px;
    height: 50px;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
    color: #2e7099;
}
.txt_field label{
    font-family: modern;
    position: absolute;
    top: 50%;
    left: 5px;
    color: #795344;
    transform: translateY(-50%);
    font-size: 25px;
    pointer-events: none;
    transition: .5s;
}
.txt_field span::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: #795344;
    transition: .5s;

}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label,
.txt_field textarea:focus ~ label,
.txt_field textarea:valid ~ label,
.txt_field input:-webkit-autofill ~ label{
top: -7px;
color: #795344;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before,
.txt_field textarea:focus ~ span::before,
.txt_field textarea:valid ~ span::before,
.txt_field input:-webkit-autofill ~ span::before{
    width: 100%;
}

.button{
    margin-top: 40px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 3px;
    background-color: #F9F2ED;
    font-size: 20px;
    color: #795344;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    outline: none;
    transition: .25s all;
    margin-bottom: 50px;

}
.button:hover{
    font-size: 21px;
    font-weight: 750;
    background-color: #795344;
    color: #F9F2ED;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.4), -1px -1px 8px rgba(0,0,0,0.4);
  }