*{
    padding: 0;
    margin: 0;
}
body {
    font-family: modern;
    margin: 0px;
    
}

@font-face { font-family: modern; src: url('fonts/Sk-Modernist-Regular.otf'); } 
@font-face { font-family: courgette; src: url('fonts/ginebra_font.ttf'); } 

.home{
    position: absolute;
    min-height: 120vh;
    height: max-content;
    width: 100%;
    background-image: linear-gradient(to right, #c59e8e, #84a8be);
    top: 0%;
}
.launch{
   position: relative;
   height: 100%;
   width: 100%;
   margin-bottom: 30px;
}
.myMarket{
    font-family: modern;
    margin-left: 7%;
    margin-top: 2%;
    font-size: 9em;
    width: fit-content;
    background-image: linear-gradient(to left, #795344, #2e7099);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}